<mat-progress-bar *ngIf="showLoader || !isDataLoaded" mode="indeterminate"></mat-progress-bar>
<div class="container" fxLayout="row" fxLayoutGap="0.5%" style="margin: 20px;" *ngIf="isDataLoaded">
  <div fxFlex="70">
    <form [formGroup]="updateForm" (ngSubmit)="updateForm.valid && onSubmit(updateForm)">
      <mat-card>
        <mat-card-header class="card-header">
          <img (click)="onImageUpload()" mat-card-avatar class="avatar" [ngClass]="!photo ? 'almost-transparent' : ''" [src]="photo || 'assets/professor.svg'">

          <mat-card-title>Edit professor</mat-card-title>
          <div class="spacer"></div>
          <button [routerLink]="['/professors/view', professor.professorId]" mat-icon-button matTooltip="View" type="button">
            <mat-icon>visibility</mat-icon>
          </button>
          <button mat-icon-button color="primary" matTooltip="Save" type="submit">
            <mat-icon>save</mat-icon>
          </button>
          <button color="warn" type="button" mat-icon-button matTooltip="Delete">
            <mat-icon (click)="onDelete()">delete</mat-icon>
          </button>
        </mat-card-header>
        <mat-card-content style="margin: 20px">
          <div fxLayout="column" fxLayoutGap="0.5%" fxLayoutAlign="space-between">

            <mat-form-field flFlex>
              <input
                matInput
                placeholder="First Name"
                type="text"
                formControlName="firstName"
                required>
            </mat-form-field>

            <mat-form-field flFlex>
              <input
                matInput
                placeholder="Last Name"
                type="text"
                formControlName="lastName"
                required>
            </mat-form-field>

            <mat-form-field flFlex>
              <input matInput [matDatepicker]="birthDatePicker" placeholder="Birth Date"
                     formControlName="birthDate" required>
              <mat-datepicker-toggle matSuffix [for]="birthDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #birthDatePicker></mat-datepicker>
            </mat-form-field>

            <mat-form-field flFlex>
              <input
                matInput
                placeholder="Phone"
                type="text"
                formControlName="phone"
                required>
            </mat-form-field>

            <mat-form-field flFlex>
              <input
                matInput
                placeholder="Email"
                type="email"
                formControlName="email"
                required>
            </mat-form-field>

            <mat-form-field flFlex>
              <input
                matInput
                placeholder="Address 1"
                type="text"
                formControlName="address1"
                required >
            </mat-form-field>

            <mat-form-field flFlex>
              <input
                matInput
                placeholder="Address 2"
                type="text"
                formControlName="address2">
            </mat-form-field>

            <mat-form-field flFlex>
              <input
                matInput
                placeholder="City"
                type="text"
                formControlName="city"
                required >
            </mat-form-field>

            <mat-form-field flFlex>
              <input
                matInput
                placeholder="State"
                type="text"
                formControlName="state"
                required >
            </mat-form-field>

            <mat-form-field flFlex>
              <input
                matInput
                placeholder="Zip"
                type="text"
                formControlName="zip"
                required >
            </mat-form-field>

            <mat-form-field>
              <mat-select placeholder="Country" formControlName="countryCode" [value]="AFG" required>
                <mat-option *ngFor="let code of objectKeys(globalSettings.countryCodes)" [value]="code">
                  {{globalSettings.countryCodes[code]}}
                </mat-option>
              </mat-select>
            </mat-form-field>

          </div>
        </mat-card-content>
      </mat-card>
    </form>

  </div>
</div>
