<mat-progress-bar *ngIf="!isDataLoaded || showLoader" mode="indeterminate"></mat-progress-bar>
<div class="container" fxLayout="row" fxLayoutGap="0.5%" style="margin: 20px;" *ngIf="isDataLoaded">
  <div fxFlex="70">
    <form [formGroup]="signupForm" (ngSubmit)="signupForm.valid && onSubmit(signupForm)">
      <mat-card>
        <mat-card-header class="card-header">
          <mat-card-title>Add a new university</mat-card-title>
          <div class="spacer"></div>
          <button mat-icon-button color="primary" matTooltip="Save" type="submit">
            <mat-icon>save</mat-icon>
          </button>
        </mat-card-header>
        <mat-card-content style="margin: 20px">
          <div fxLayout="column" fxLayoutGap="0.5%" fxLayoutAlign="space-between">
            <mat-form-field>
              <mat-select placeholder="Ministry" formControlName="ministryId" required>
                <mat-option *ngFor="let ministry of allMinistries" [value]="ministry.ministryId">
                  {{ministry.name + " (" + (ministry.address.countryCode | country) + ")"}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field flFlex>
              <input
                matInput
                placeholder="Name"
                type="text"
                formControlName="name"
                required>
            </mat-form-field>

            <mat-form-field flFlex>
              <input matInput [matDatepicker]="openingDatePicker" placeholder="Opening Date"
                     formControlName="openingDate">
              <mat-datepicker-toggle matSuffix [for]="openingDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #openingDatePicker></mat-datepicker>
            </mat-form-field>

            <div>
              <label style="margin-right: 20px">Logo:</label>
              <button type="button" mat-button mat-raised-button color="primary" (click)="fileUpload.click()">
                <mat-icon>attach_file</mat-icon>
                Choose a photo...
              </button>
              <input name="input-file" id="input-file"
                     type="file" accept="image/*"
                     hidden
                     #fileUpload
                     (change)="handleFileInput($event.target.files)">
            </div>

            <mat-form-field flFlex>
              <input
                matInput
                placeholder="Phone"
                type="text"
                formControlName="phone"
                required>
            </mat-form-field>

            <mat-form-field flFlex>
              <input
                matInput
                placeholder="Email"
                type="email"
                formControlName="email"
                required>
            </mat-form-field>

            <mat-form-field flFlex>
              <input
                matInput
                placeholder="Website"
                type="text"
                formControlName="websiteUrl">
            </mat-form-field>

            <mat-form-field flFlex>
              <input
                matInput
                placeholder="University Head First Name"
                type="text"
                formControlName="headFirstName"
                required>
            </mat-form-field>

            <mat-form-field flFlex>
              <input
                matInput
                placeholder="University Head Last Name"
                type="email"
                formControlName="headLastName"
                required>
            </mat-form-field>

            <mat-form-field flFlex>
              <input
                matInput
                placeholder="University Manager First Name"
                type="text"
                formControlName="managerFirstName"
                required>
            </mat-form-field>

            <mat-form-field flFlex>
              <input
                matInput
                placeholder="University Manager Last Name"
                type="text"
                formControlName="managerLastName"
                required>
            </mat-form-field>

            <mat-form-field flFlex>
              <input
                matInput
                placeholder="Address 1"
                type="text"
                formControlName="address1"
                required >
            </mat-form-field>

            <mat-form-field flFlex>
              <input
                matInput
                placeholder="Address 2"
                type="text"
                formControlName="address2">
            </mat-form-field>

            <mat-form-field flFlex>
              <input
                matInput
                placeholder="City"
                type="text"
                formControlName="city"
                required >
            </mat-form-field>

            <mat-form-field flFlex>
              <input
                matInput
                placeholder="State"
                type="text"
                formControlName="state"
                required >
            </mat-form-field>

            <mat-form-field flFlex>
              <input
                matInput
                placeholder="Zip"
                type="text"
                formControlName="zip"
                required >
            </mat-form-field>

            <mat-form-field>
              <mat-select placeholder="Country" formControlName="countryCode" [value]="AFG" required>
                <mat-option *ngFor="let code of objectKeys(globalSettings.countryCodes)" [value]="code">
                  {{globalSettings.countryCodes[code]}}
                </mat-option>
              </mat-select>
            </mat-form-field>

          </div>
        </mat-card-content>
      </mat-card>
    </form>

  </div>
</div>
